<ion-view title="Article list">
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <ion-view title="entryInfo">
            <p id="contenttoupdate"></p>
            <p id="statusPlace"></p>

            <!--p><textarea id="textArea"></textarea></p-->

            <div ng-bind-html="messages"></div>
            <div ng-bind-html="infoText"></div>
            <div ng-bind-html="somedata"></div>
            <!-- view content -->
        </ion-view>
        
        <div class="list">
            <a ng-repeat="page in sectionPages" href="#/{{page.id}}" class="item item-thumbnail-left">
                <img src="cover.jpg">
                <h2>{{page.title}}</h2>
                <p>{{page.description}}</p>
            </a>
        </div>
        
    </ion-content>
    
</ion-view>