<ion-view title="Beacons">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        <h1>Beacons</h1>
        
        <ion-view title="entryInfo">
            <p id="statusPlace"></p>
            
            <p id="id_HTML"></p>
            <p id="proximity_HTML"></p>
            <p id="range_HTML"></p>
            
            <p id="label"></p>

            <div ng-bind-html="infoText"></div>
        </ion-view>
        
    </ion-content>
    
</ion-view>