<ion-view title="Content Sync">
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header" padding="true">
        
        <div id="displaymessages">
        
            <div id="contenttoupdate"></div>

            <div id="statusPlace"></div>

            <div id="percentage"></div>

            <div id="infoText"></div>
            
        </div>
        
        <div class="list">
            <a ng-repeat="page in sectionPages" href="#/{{page.id}}" class="item item-thumbnail-left">
                <img src="http://forum.codoh.com/images/avatars/avatar-blank.jpg"></img>
                <h2>{{page.title}}</h2>
                <p>{{page.description}}</p>
            </a>
        </div>
        
    </ion-content>
    
</ion-view>